:root {
    --main-bg-color: whitesmoke; 
    --main-nav-txt-color: whitesmoke;
    --main-txt-color: black;
    --main-accent-color: #4285f4;
}

body {
    margin: 100px auto;
    width: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: var(--main-txt-color);
    background-color:var(--main-bg-color);
}
nav {
    background-color: var(--main-bg-color);
    border-bottom: .8px solid var(--main-accent-color);
    font-size: 1.5em;  
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;  
}

img#logo {
  float: left; 
  padding: 35px;
  width:120px;
  height:65px; 
  border-radius: 12px; 
  position: fixed;
  left: 250px;
  top: -35px;
}



nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}

nav a{color: var(--main-nav-txt-color);}

div.container a{
    font-size: 1.1em; 
}
a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;    
    text-decoration: none;
    color:var(--main-accent-color);
}
nav a:hover {
    color: var(--main-accent-color);
    text-decoration: underline;
    text-decoration-color:var(--main-txt-color);
}
footer a:hover {
    color: var(--main-txt-color);
}
h1 {
    color: var(--main-accent-color);
    font-size: 2em;
    font-weight: normal;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
}
h3 {
    font-size: 1.25em;
    font-weight: normal;
}
p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: var(--main-txt-color);
    font-weight: normal;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: .8px solid var(--main-accent-color);
    font-size: .9em;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: .9em;
}

ul.posts li {
    list-style: none;
}

div.container{
    width:65%;
    margin:auto;
}
i.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
}


h1 {
  animation: move 1s;
  -webkit-animation: move 1s;
}
@keyframes move {
  from {
    margin-left: -50%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}      
@-webkit-keyframes move {
  from {
    margin-left: -50%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


img#logo, a {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

