body {
    margin: 100px auto;
    width: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #c5c6c7;
    background-color:#1a1a1d;    
}
nav {
    background-color:#1a1a1d;
    border-bottom: .8px solid #45a29e;
    font-size: 1.5em;  
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
    background: linear-gradient(#488084, #1a1a1d);  
}

img#logo {
  float: left; 
  padding: 35px;
  width:70px;
  height:70x; 
  border-radius: 12px; 
  position: fixed;
  left: 250px;
  top: -30px;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}
a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: #c5c6c7;
}
a:hover {
    color: #45a29e;
    text-decoration: underline;
    text-decoration-color:#45a29e;
}
h1 {
    font-size: 2.7em;
    font-weight: normal;
    text-align: center;
    color: #45a29e;
}
h2 {
    font-size: 2em;
    font-weight: normal;
}
h3 {
    font-size: 1.25em;
    font-weight: normal;
}
p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #c5c6c7;
    font-weight: normal;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: .8px solid #45a29e;
    font-size: .9em;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: .9em;
}

ul.posts li {
    list-style: none;
}

div.container{
    width:65%;
    margin:auto;
}

p:nth-child(2)
{
    text-align:center;
}
p:nth-child(3){
    text-align:center;
}
div.language-python.highlighter-rouge{
    background-color: #2F4F4F;
}
pre.highlight{
    padding: 10px;
}
i.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
}


img#logo {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

