:root {
    --main-bg-color: white; 
	--main-bg-color2: white;
    --main-nav-txt-color: white;
    --main-txt-color: black;
    --main-accent-color: #4285f4;
    --code-block-color: #c5c6c7;
}

body {
    margin: 100px auto;
    width: 100%;
    ffont-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: var(--main-txt-color);
    background-color:var(--main-bg-color);
    font-family:'lucida console', 'courier','sans-serif';
}
nav {
    background-color: var(--main-accent-color);
    border-bottom: .8px solid var(--main-accent-color);
    font-size: 22px;  
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
}

img#logo {
  float: left; 
  padding: 35px;
  width:120px;
  height:65px; 
  border-radius: 12px; 
  position: fixed;
  left: 250px;
  top: -35px;
}

 
 nav ul li:nth-child(3) a{
  position:relative;

background:var(--main-bg-color);
color:var(--main-accent-color);
border-radius:5px;
 font-size:1.15em;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
}




nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-family:'lucida sans typewriter','courier', 'sans-serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}

nav a{color: var(--main-nav-txt-color);}

div.container a{
    font-size: 1.1em; 
}
a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;    
    text-decoration: none;
    color:var(--main-accent-color);
}



h1 {
    font-size: 2.7em;
    font-weight: normal;
    text-align: center;
    color: var(--main-accent-color);

}
h2{
    font-size:2.5em;
    font-weight:normal;
    color: var(--main-accent-color);
}

h3 {
    font-size:1.65em;
    color:#960018;
}
p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: var(--main-txt-color);
    font-weight: normal;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-family:'lucida sans typewriter','courier', 'sans-serif';
}

footer {
    border-top: .8px solid var(--main-accent-color);
    font-size: .9em;
    text-align: center;

}

footer a i{
  color: var(--main-accent-color);
  transition: all 0.5s ease-in-out;
}

footer a:hover i{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition:all 0.5s 
  border-bottom: 1px solid transparent;    
  text-decoration: none;
  color:green;
  <!-- font-size:40px !important; -->
}



ul.posts { 
    margin: 20px auto 40px; 
    font-size: .9em;
}

ul.posts li {
    list-style: none;
}

div.container{
    width:65%;
    margin:auto;
}

p:nth-child(2)
{
    text-align:center;
}
p:nth-child(3){
    text-align:center;
}

i.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
}


img#logo {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	max-height: 400px;
	overflow:auto;
	border-radius: 0.3em;
}
pre.highlight{
    padding: 10px;
}

code.highlighter-rouge{
	background-color:#d3d3d3ad;
	font-size:1.1em;
	border-radius:4px;
}

/* tables */
table.dataframe {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddddd;
    padding: 8px;
	text-align: left;
}

tr:nth-child(even){background-color:	#E8E8E8;}

tbody tr:hover {background-color:	#DCDCDC;}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--main-accent-color);
    color: white;
}

/* background color gradient */
body:nth-child(2) {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(var(--main-bg-color), var(--main-bg-color2)) fixed;
    background-repeat:no-repeat;
}

/*nav animations*/
/* SHIFT */
nav ul li a {
  position:relative;
  z-index: 1;
}

nav ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 200%;
  content: '.';
  color: transparent;
  background: var(--main-bg-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius:5px;
}
nav ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 130%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: var(--main-accent-color);
}
