
div.item-card{
  height:20px;
  padding:20px 20px;
  box-shadow:2px 2px 5px grey;
  text-align:center;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  border-radius:8px;
}

div.item-card:hover{
  height: 95px;
  box-shadow:2px 2px 20px var(--main-accent-color);

}

div.item-card b{
  color: black;
  transition: all .3s ease-in-out;

}
div.item-card:hover b{
  color: var(--main-accent-color);
}

div.item-card p{
  color:black;
}


p{
  margin-top:30px;
  font-size:15px;
}

div.item-card#pokemon{
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"),
    url('/images/python_logo.png'),
    linear-gradient(to bottom right,whitesmoke,whitesmoke);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size:100px, 100px, 100%;
  background-position:10% 10px, 95% 8px, 0% 0%;
}


div.item-card#kmeans{
  background-image:
    url('/images/rstudio_logo.png'),
    linear-gradient(to bottom right,whitesmoke,whitesmoke);
  background-repeat: no-repeat, no-repeat;
  background-size:100px, 100%;
  background-position:95% -5px, 0% 0%;
}

div.item-card#pca{
  background-image:
    url('/images/rstudio_logo.png'),
    linear-gradient(to bottom right,whitesmoke,whitesmoke);
  background-repeat: no-repeat, no-repeat;
  background-size:100px, 100%;
  background-position:95% -5px, 0% 0%;
}




