/*div.item-card::-webkit-scrollbar{
  display:none;
}

*/
div.item-card{
  height:20px;
  padding:20px 20px;
  box-shadow:2px 2px 5px grey;
  text-align:center;
  transition: all 0.3s ease-in-out;
  /*overflow:auto;*/
  overflow:hidden;
  border-radius:8px;
}

div.item-card:hover{
  height: 95px;
  box-shadow:2px 2px 20px #004dff;

}

div.item-card b{
  color: white;
  transition: all .3s ease-in-out;
  font-size:1.1em;

}
div.item-card:hover b{
  color: #1a63f9;
}

div.item-card p{
  color:white;
  font-size:1.05em;
}

h3{
  font-size:1.3em;
}

p{
  margin-top:30px;
  font-size:15px;
}

:root{
  --color-gradient:var(--main-accent-color),#00c9ff;
  --gradient-direction: to right;
}

div.item-card{
  background-image:linear-gradient(var(--gradient-direction), var(--color-gradient));
}

div.item-card#pokemon{
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"),
    url('/images/python_logo.png'),
    linear-gradient(var(--gradient-direction), var(--color-gradient));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size:100px, 100px, 100%;
  background-position:10% 10px, 95% 8px, 0% 0%;
}


div.item-card#kmeans{
  background-image: url('/projects/img/k_means_icon.png'),
  url('/images/rstudio_logo.png'),
    linear-gradient(var(--gradient-direction),var(--color-gradient));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size:100px, 100px, 100%;
  background-position:10% 0px, 95% -5px, 0% 0%;
}

div.item-card#pca{
  background-image:url('/projects/img/pca.gif'),
    url('/images/rstudio_logo.png'),
    linear-gradient(var(--gradient-direction),var(--color-gradient));
  background-repeat: no-repeat, no-repeat;
  background-size:60px, 100px, 100%;
  background-position:10% 3px, 95% -5px, 0% 0%;
}


div.item-card#shallow_net{
  background-image:url("/projects/img/neural-network.png"),
    url('/images/python_logo.png'),
    linear-gradient(var(--gradient-direction), var(--color-gradient));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size:70px, 100px, 100%;
  background-position:10% 10px, 95% 8px, 0% 0%;
}