<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
			<link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon.ico"  | absolute_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lov.kenny1996@gmail.com"><i class="material-icons" style="font-size:22px">email</i></a></li>
	        		<li><a href="https://github.com/clfkenny"><i class="fa fa-github" style="font-size:20px"></i> </a></li>
				<li><a href="https://www.linkedin.com/in/kenny-lov/"><i class="fa fa-linkedin-square" style="font-size:20px"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
